@import "./normalize.scss";


@font-face {
  font-family: "head";
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("../fonts/Roboto-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 600;
  src: url("../fonts/Roboto-SemiBold.ttf") format("ttf");
}

@font-face {
  font-family: "NotoSans-Black";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NotoSans-Black.ttf") format("ttf");
}

html,
body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
